---
import Layout from '../layouts/Layout.astro';
import Header from '../components/shared/Header.astro';
import ActualizarTripulantes from '../components/actualizar-tripulantes/UnirColumnas.astro';
---

<Layout title="Actualizar Tripulantes - ToolsWork">
	<Header />
	<main>
		<ActualizarTripulantes />
	</main>
</Layout>
