---
import Layout from '../layouts/Layout.astro';
import Header from '../components/shared/Header.astro';
import UnirColumnas from '../components/unir-columnas/UnirColumnas.astro';
---

<Layout title="Unir Columnas - ToolsWork">
	<Header />
	<main>
		<UnirColumnas />
	</main>
</Layout>
